body {

    color: black;


}


h1,h2,h3 {
    font-family: "herculanum";

    

}


.navbar {
    background-color:#e1bee7;  
    font-family: arial;
    color: white;
}

a:link {
    color:black;
}
a:hover {

    color:#ab47bc;
}

a:active {

    color: #ab47bc; 
}

a:focus {
    color: #ab47bc;
}


.iframe-rwd  {
position: relative;
padding-bottom: 65.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
.iframe-rwd iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}